#title{a:b;
    .wrap{a:b;
        ul{a:b;
            li{a:b;
                h2{a:b;
                    
                }
                p{a:b;

                }
            }
        }
    }
}